<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/html_header %>
  </head>
  
  <body>
    
    <div class="container fmj-main-content">
    
      <div class="row-fluid">
        <div class="span6 offset3"><div class="row-fluid">
          <h3 class="center">Registration Successful</h3>
          
        </div></div>
      </div>
      
  
    </div>
    
    <% include templates/footer_js %>
  </body>
</html>






